.footer {
    height: 196px;
    background-color: #002529;


    &__box {
        display: flex;
        align-items: center;
    }

    &__link {
        padding-top: 15px;
        margin-left: 20px;
        text-decoration: none;
        color: #FFFFFF;
    }

    &__description {
        color: #FFFFFF;
        opacity: 0.6;
    }

    &__box-1 {
        margin-left: 30px;
        margin-top: 50px;
        width: 196px;
        height: 113px;
    }

    &__box-2 {
        margin-top: 50px;
        margin-left: 290px;
        width: 196px;
        height: 113px;
    }

    &__box-3 {
        margin-top: 50px;
        margin-left: 400px;
        width: 196px;
        height: 113px;
    }


    &__image-link2 {
        margin-left: 15px;
    }

    &__image-link3 {
        margin-left: 15px;
    }

    &__description4 {
        color:#FFFFFF;
        margin-left: 1000px;
        margin-bottom: 50px;
        opacity: 0.6;
        font-family: "Livvic";
        font-weight: 600;
        font-size: 15px;
        line-height: 25px;

    }

}