.section {
    display: flex;
    align-items: center;
    height: 517px;
    background-color: #014E56;


    &__box {
        display: flex;
        align-items: center;
    }

    &__title {
        margin-left: 93px;
        font-family: "Livvic";
        font-weight: 700;
        font-size: 64px;
        line-height: 100px;
        color: #FFFFFF;
    }

    &__description {
        margin-top: 170px;
        margin-left: 159px;
        color: #FFFFFF;
        font-family: "Livvic";
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
    }

    &__img-3 {
        margin-top: 343px;
        width: 110px;
        height: 170px;
    }

}