.header {
    padding: 35px 10px;
    background-color: rgba(1, 78, 86, 1);

    &__nav {
        display: flex;
        align-items: center;
        margin: 0 auto;
        width: 1110px;
        background-color: rgba(1, 78, 86, 1);
    }

    &__list {
        list-style-type: none;
        display: flex;
        align-items: center;
        margin-left: 50px;
    }

    &__item {
        margin-left: 30px;
    }

    &__link {
        text-decoration: none;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        color: #FFFFFF;
    }

    &__link2 {
        margin-left: 577px;
        text-decoration: none;
        width: 153px;
        height: 48px;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        color: #FFFFFF;
        border: 2px solid #FFFFFF;
        border-radius: 24px;
        padding: 9px 32px 11px 33px ;
    }

    .checkbox {
        position: absolute !important;
        clip: rect(1px 1px 1px 1px);
        /* IE6, IE7 */
        clip: rect(1px, 1px, 1px, 1px);
        padding: 0 !important;
        border: 0 !important;
        height: 1px !important;
        width: 1px !important;
        overflow: hidden;
    }

}

.burger {
    display: none;
}


@media screen and (max-width:645px) {



    .header__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


    .burger {
        display: block;
    }

    .header__list {
        text-align: center;
        background-color: rgba(64, 92, 216, 0.726);
        top: 64px;
        bottom: 0;
        right: 0;
        left: 0;
        display: none;
    }


    .header__item {
        margin-top: 15px;
        margin-right: 15px;
        margin-bottom: 10px;
    }

    .header__link {
        width: 80%;
    }

    .header__link2 {
    margin-left: 0;
    }

    .checkbox:checked~.header__list {
        display: block;
        position: absolute;
    }
}