.section2 {
    height: 684px;
    background-color: #012F34;
    background-image: url("../../img/section2/Group\ 8.png");
    background-repeat: no-repeat;
    background-position: right bottom;

    &__box {
        width: 1110px;
        height: 404px;
        display: flex;
        justify-content: space-between;
    }

    &__minibox {
        margin-top: 140px;
        width: 445px;
        height: 202px;
    }

    &__hr {
        width: 50px;
        height: 4px;
        background: #F67E7E;
        border: #F67E7E;
    }

    &__title {
        margin-top: 54px;
        font-weight: 700;
        font-size: 48px;
        line-height: 48px;
        color: #FFFFFF;
    }

    &__list {
        list-style-type: none;
        margin-top: 198px;
    }

    &__item {
        width: 540px;
        height: 94px;
        margin-bottom: 32px;
        display: flex;
    }

    &__box2 {
        margin-left: 23px;
    }

    &__title2 {
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
        color: #F67E7E;
    }

    &__text2 {
        margin-top: 16px;
        font-weight: 600;
        font-size: 15px;
        line-height: 25px;
        color: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.8;
    }

}

@media screen and (max-width:645px) {
    .section2 {
        height: 1073px;
        background-image: none;
    }

    .section2__box {
        width: 100%;
        display: inline-block;
    }

    .section2__minibox{
        width: 240px;
        height: 196px;
        margin-top: 64px;
    }

    .section2__title {
        width: 210px;
        font-weight: 700;
        font-size: 32px;
        line-height: 32px;
    }

    .section2__list {
        margin-top: 56px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .section2__item {
        width: 327px;
        height: 199px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .section2__title2 {
        width: 327px;
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
    }

    .section2__text2 {
        font-weight: 600;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        color: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.8;
    }
}