.section4 {
    height: 200px;
    background-color: #F67E7E;
    background-image: url("../../img/section4/Group\ 8.svg");
    background-repeat: no-repeat;
    background-position: bottom left;

    &__box {
        width: 1110px;
        display: flex;
    }

    &__title {
        margin-top: 76px;
        margin-left: 130px;
        font-weight: 700;
        font-size: 48px;
        line-height: 48px;
        color: #012F34;
    }

    &__link {
        text-decoration: none;
        margin-top: 76px;
        margin-left: 260px;
        width: 153px;
        height: 48px;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        color: #012F34;
        border: 2px solid #012F34;
        border-radius: 24px;
        padding: 9px 32px 11px 33px;
    }
}

@media screen and (max-width:645px) {
    .section4 {
        height: 302px;
    }

    .section4__box {
        flex-wrap: wrap;
    }

    .section4__title {
        margin-top: 83px;
        width: 200px;
        font-weight: 700;
        font-size: 32px;
        line-height: 32px;
        text-align: center;
    }

    .section4__link{
        margin-top: 24px;
        margin-left: 150px;
    }


}